<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kx.dao.AppointmentMapper">
    <select id="getDocList" resultType="Doctor" >
        select *
        from doctor
        <where>
            <if test="h_id != null and h_id != ''">
                d_hospital = #{h_id}
            </if>
            <if test="d1_id != null and d1_id != ''">
                and d_department1 = #{d1_id}
            </if>
        </where>
    </select>

    <insert id="addAppointment" parameterType="Appointment">
        insert  into
        appointment (ap_user_id,ap_doc_id,ap_time,ap_status)values (#{ap_user_id},#{ap_doc_id},now(),1)
    </insert>

    <select id="getNo" resultType="Appointment">
        select *
        from appointment
        <where>
            ap_status = 1
            <if test="ap_user_id != null and ap_user_id != ''">
            and ap_user_id = #{ap_user_id}
            </if>
        </where>
    </select>

    <update id="updateStatus">
        UPDATE appointment
		set ap_status = 2
		where DATE(NOW()) - DATE(ap_time) > 31
		<if test="ap_id != null and ap_id != ''">
            ap_id = #{ap_id}
        </if>
    </update>
    
    <select id="getYes" resultType="User">
        select u_name,u_phone
		from user
        where u_id in (
        select ap_user_id
        from appointment
        where ap_doc_id in
        (select d_id from doctor where d_num > 0))
    </select>
</mapper>