<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kx.dao.NurseorderMapper">
	<resultMap type="Nurseorder" id="nurseorderList">
		<id property="no_id" column="no_id" />
		<result property="p_id" column="p_id" />
		<result property="p_phone" column="p_phone" />
		<result property="p_hospital" column="p_hospital" />
		<result property="address" column="address" />
		<result property="isRegistered" column="isRegistered" />
		<result property="haveTool" column="haveTool" />
		<result property="no_starttime" column="no_starttime" />
		<result property="no_code" column="no_code" />
		<result property="p_code" column="p_code" />
		<result property="payCode" column="payCode" />
		<result property="no_status" column="no_status" />
		<result property="no_comment" column="no_comment" />
		<result property="no_nurse" column="no_nurse" />
		<result property="no_overTime" column="no_overTime" />
		<result property="no_s_id" column="no_s_id" />
	</resultMap>
	<select id="getAll" resultMap="nurseorderList">
		select * from nurseorder where 1=1
		<if test="no_id!=null and no_id!=''">
			and no_id=#{no_id}
		</if>
		<if test="p_id!='' and p_id!=null">
			and p_id=#{p_id}
		</if>
		<if test="p_phone!='' and p_phone!=null">
			and p_phone=#{p_phone}
		</if>
		<if test="no_code!='' and no_code!=null">
			and no_code=#{no_code}
		</if>
		<if test="no_status!='' and no_status!=null">
			and no_status=#{no_status}
		</if>
		<if test="no_s_id!='' and no_s_id!=null">
			and no_s_id=#{no_s_id}
		</if>
	</select>
	<!-- 修改订单 -->
	<update id="modifyNurseorder">
		update nurseorder
		<set>
			<if test="p_phone!='' and p_phone！=null">
				p_phone = #{p_phone}
			</if>
			<if test="p_hospital!='' and p_hospital!=null">
				p_hospital= #{p_hospital}
			</if>
			<if test="address!='' and address!=null">
				address=#{address}
			</if>
			<if test="isRegistered!='' and isRegistered!=null">
				isRegistered=#{isRegistered}
			</if>
			<if test="haveTool!='' and haveTool!=null">
				haveTool=#{haveTool}
			</if>
			<if test="no_starttime!='' and no_starttime!=null">
				no_starttime=#{no_starttime}
			</if>
			<if test="no_s_id!='' and no_s_id!=null">
				no_s_id=#{no_s_id}
			</if>
		</set>
	</update>
	<!-- 添加订单 -->
	<insert id="saveNurseorder">
		insert into nurseorser
		(no_id,p_id,p_phone,p_hospital,address,isRegistered,haveTool,no_starttime,no_code,p_code,payCode,no_status,no_comment,no_nurse,no_overTime,no_s_id)
		values(default,#{p_id},#{p_phone},#{p_hospital},#{address},#{isRegistered},#{haveTool},#{no_starttime},#{no_code},#{p_code},#{payCode},#{no_status},#{no_comment},#{no_nurse},#{no_overTime},#{no_s_id})
	</insert>
</mapper>