<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kx.dao.PostMapper">
	<resultMap type="Post" id="postList">
		<id property="post_id" column="post_id" />
		<result property="post_title" column="post_title" />
		<result property="post_content" column="post_content" />
		<result property="post_picture" column="post_picture" />
		<result property="post_time" column="post_time" />
		<result property="post_last_time" column="post_last_time" />
		<result property="post_good" column="post_good" />
		<result property="post_bad" column="post_bad" />
		<result property="post_collection" column="post_collection" />
		<result property="post_type" column="post_type" />
		<result property="post_label" column="post_label" />
		<result property="post_publish" column="post_publish" />
		<result property="post_code" column="post_code" />
		<result property="post_report" column="post_report" />
		<result property="post_identity" column="post_identity" />
		<result property="post_count" column="post_count" />
		<association property="modular" javaType="Modular">
			<result property="modular_id" column="modular_id" />
			<result property="modular_name" column="modular_name" />
		</association>
	</resultMap>

</mapper>